Django
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
python-dotenv
django-cors-headers
django-allauth
django-phonenumber-field
django-extensions
django-storages
redis
twilio
pandas
numpy
scikit-learn
tensorflow
celery
drf-yasg
requests
